[data-bs-theme=dark] {
  --primary: #e9eeff;
  --secondary: #8d96b0;
  --light-gray: #8d8d8d;
  --dark-gray: #2a2e33;
  --aqua: #7ccff7;

  --bs-body-color: var(--primary);
  --bs-link-color: var(--aqua);
  --bs-link-color-rgb: 124, 199, 255;
  --bs-secondary-color: var(--secondary);
  nav {
    --bs-navbar-brand-color: var(--light-gray);
    --bs-navbar-brand-hover-color: var(--primary);
    --bs-navbar-color: var(--light-gray);
    --bs-navbar-hover-color: var(--primary);
    --bs-nav-link-hover-color: var(--primary);
  }
  --body-shade-0: #111729;
  --body-shade-1: #0e1221;
  --body-ball: rgba(0, 12, 152, 0.26);
  --nav-footer-background: rgba(18, 25, 44, 0.92);
  --nav-footer-border: var(--dark-gray);
  --card-background: rgba(255, 255, 255, 0.04);
  --card-border: rgba(255, 255, 255, 0.1);
  --gradient-text-0: #2b6cff;
  --gradient-text-1: #1ac1b5;
  --gradient-text-2: #7a5cff;
}

[data-bs-theme=light] {
  --primary: rgba(0, 0, 0, 0.8);
  --light-gray: rgba(0, 0, 0, 0.6);

  nav {
    --bs-navbar-brand-color: var(--light-gray);
    --bs-navbar-brand-hover-color: var(--primary);
    --bs-navbar-color: var(--light-gray);
    --bs-navbar-hover-color: var(--primary);
  }
  --body-shade-0: #f7f9ff;
  --body-shade-1: #e1e7f5;
  --body-ball: rgba(10, 70, 255, 0.12);
  --nav-footer-background: rgba(225, 231, 245, 0.92);
  --nav-footer-border: #d6dae0;
  --card-background: rgba(0, 0, 0, 0.04);
  --card-border: rgba(0, 0, 0, 0.1);
  --gradient-text-0: #66a1ff;
  --gradient-text-1: #39d7cf;
  --gradient-text-2: #a88bff;
}
