.card {
  margin-bottom: 1em;
}

.card:not(.about-me) {
  transition: all 0.3s;
}

.card:hover:not(.about-me) {
  transform: scale(1.05);
}

.card:not(.about-me) > .card-body > p {
  margin-top: 0;
  margin-bottom: 0;
}
