.card {
  margin-bottom: 1em;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
}

.card.popout {
  transition: all 0.3s;
}

.card.popout:hover {
  transform: scale(1.05);
}

.card:not(.about-me) > .card-body > p {
  margin-top: 0;
  margin-bottom: 0;
}

.card-body > p {
  margin-bottom: 0px;
  overflow-wrap: break-word;
  hyphens: auto;
}

.card-body > ul {
  margin-bottom: -1em;
}
