@import "_colors";

$spacer: 1rem;

@media (min-width: 1400px) {
  .fit-center {
    padding-left: calc($spacer * 9);
    padding-right: calc($spacer * 9);
  }
}

.bi {
  vertical-align: 0.125em;
}

.gradient-text {
  // background: linear-gradient(120deg, #2b6cff, #1ac1b5, #7a5cff);
  background: linear-gradient(120deg, #66a1ff, #39d7cf, #a88bff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

body {
  background: radial-gradient(400px circle at 15% 5%, var(--body-ball), transparent 25%), linear-gradient(135deg, var(--body-shade-0) 0%, var(--body-shade-1) 100%);
  background-attachment: fixed;
}

h1.h0 {
  font-size: 3.5em;
}
