@import "_colors";

nav {
  border-bottom: 1px solid var(--nav-footer-border);
}

nav,
footer {
  background: var(--nav-footer-background);
}

footer {
  border-top: 1px solid var(--nav-footer-border);
}
